#linkedin-hider {
    position: fixed;
    top: 4px;
    right: 4px;
    width: 70px;
    background-color: #fff;
    border-radius: 5px;
    z-index: 9999999;
    padding: 4px;
    opacity: 0.7;
}

#linkedin-hider:hover {
  opacity: 1;
}

#linkedin-hider.border-gray {
    border: 1px solid #283e4a;
}

#linkedin-hider .hide {
    display: none;
}

#linkedin-hider .button {
    width: 100%;
    background-color: #026599;
    color: #fff;
    border-radius: 5px;
    padding: 4px;
}

#linkedin-hider .text-center {
    text-align: center;
}

#linkedin-hider .color-gray {
    color: #283e4a;
}

#linkedin-hider .f-8 {
  font-size: 8px;
}
